# Name: Ring Tracker
# Author: Ryan Dundon
# Version: 0.0.1-SNAPSHOT
# Date of creation: 2018/05/01
# By: Ryan Dundon

Plugins>Ring Tracker, "Segment Image", plugins.CellSegmentationPlugin
Plugins>Ring Tracker, "Remove Background", plugins.OpenImagePlugin
Plugins>Ring Tracker, "Average Intensity", plugins.AveragePixelPlugin
Plugins>Ring Tracker, "Cell Mask", plugins.CellMaskPlugin